<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 1
                        <input class="form-control" [(ngModel)]="activeWeek1" name="activeWeek1" placeholder="Week 1" #editWeek1>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 2
                        <input class="form-control" [(ngModel)]="activeWeek2" name="activeWeek2" placeholder="Week 2" #editWeek2>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 3
                        <input class="form-control" [(ngModel)]="activeWeek3" name="activeWeek3" type="number" placeholder="Week 3" #editWeek3>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 4
                        <input class="form-control" [(ngModel)]="activeWeek4" name="activeWeek4" type="number" placeholder="Week 4" #editWeek4>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 5
                        <input class="form-control" [(ngModel)]="activeWeek5" name="activeWeek5" type="number" placeholder="Week 5" #editWeek5>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 6
                        <input class="form-control" [(ngModel)]="activeWeek6" name="activeWeek6" type="number" placeholder="Week 6" #editWeek6>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 7
                        <input class="form-control" [(ngModel)]="activeWeek7" name="activeWeek7" type="number" placeholder="Week 7" #editWeek7>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 8
                        <input class="form-control" [(ngModel)]="activeWeek8" name="activeWeek8" type="number" placeholder="Week 8" #editWeek8>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 9
                        <input class="form-control" [(ngModel)]="activeWeek9" name="activeWeek9" type="number" placeholder="Week 9" #editWeek9>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 10
                        <input class="form-control" [(ngModel)]="activeWeek10" name="activeWeek10" type="number" placeholder="Week 10" #editWeek10>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 11
                        <input class="form-control" [(ngModel)]="activeWeek11" name="activeWeek11" type="number" placeholder="Week 11" #editWeek11>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 12
                        <input class="form-control" [(ngModel)]="activeWeek12" name="activeWeek12" type="number" placeholder="Week 12" #editWeek12>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 13
                        <input class="form-control" [(ngModel)]="activeWeek13" name="activeWeek13" type="number" placeholder="Week 13" #editWeek13>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 14
                        <input class="form-control" [(ngModel)]="activeWeek14" name="activeWeek14" type="number" placeholder="Week 14" #editWeek14>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 15
                        <input class="form-control" [(ngModel)]="activeWeek15" name="activeWeek15" type="number" placeholder="Week 15" #editWeek15>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 16
                        <input class="form-control" [(ngModel)]="activeWeek16" name="activeWeek16" type="number" placeholder="Week 16" #editWeek16>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 17
                        <input class="form-control" [(ngModel)]="activeWeek17" name="activeWeek17" type="number" placeholder="Week 17" #editWeek17>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 18
                        <input class="form-control" [(ngModel)]="activeWeek18" name="activeWeek18" type="number" placeholder="Week 18" #editWeek18>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 19
                        <input class="form-control" [(ngModel)]="activeWeek19" name="activeWeek19" type="number" placeholder="Week 19" #editWeek19>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 20
                        <input class="form-control" [(ngModel)]="activeWeek20" type="number" placeholder="Week 20" #editWeek20>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 21
                        <input class="form-control" [(ngModel)]="activeWeek21" type="number" placeholder="Week 21" #editWeek21>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 22
                        <input class="form-control" [(ngModel)]="activeWeek22" type="number" placeholder="Week 22" #editWeek22>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 23
                        <input class="form-control" [(ngModel)]="activeWeek23" type="number" placeholder="Week 23" #editWeek23>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 24
                        <input class="form-control" [(ngModel)]="activeWeek24" type="number" placeholder="Week 24" #editWeek24>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 25
                        <input class="form-control" [(ngModel)]="activeWeek25" type="number" placeholder="Week 25" #editWeek25>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 26
                        <input class="form-control" [(ngModel)]="activeWeek26" type="number" placeholder="Week 26" #editWeek26>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 27
                        <input class="form-control" [(ngModel)]="activeWeek27" type="number" placeholder="Week 27" #editWeek27>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 28
                        <input class="form-control" [(ngModel)]="activeWeek28" type="number" placeholder="Week 28" #editWeek28>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 29
                        <input class="form-control" [(ngModel)]="activeWeek29" type="number" placeholder="Week 29" #editWeek29>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 30
                        <input class="form-control" [(ngModel)]="activeWeek30" type="number" placeholder="Week 30" #editWeek30>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 31
                        <input class="form-control" [(ngModel)]="activeWeek31" type="number" placeholder="Week 31" #editWeek31>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 32
                        <input class="form-control" [(ngModel)]="activeWeek32" type="number" placeholder="Week 32" #week32>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 33
                        <input class="form-control" [(ngModel)]="activeWeek33" type="number" placeholder="Week 33" #week33>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 34
                        <input class="form-control" [(ngModel)]="activeWeek34" type="number" placeholder="Week 34" #week34>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 35
                        <input class="form-control" [(ngModel)]="activeWeek35" type="number" placeholder="Week 35" #week35>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 36
                        <input class="form-control" [(ngModel)]="activeWeek36" type="number" placeholder="Week 36" #week36>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 37
                        <input class="form-control" [(ngModel)]="activeWeek37" type="number" placeholder="Week 37" #week37>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 38
                        <input class="form-control" [(ngModel)]="activeWeek38" type="number" placeholder="Week 38" #week38>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 39
                        <input class="form-control" [(ngModel)]="activeWeek39" type="number" placeholder="Week 39" #week39>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 40
                        <input class="form-control" [(ngModel)]="activeWeek40" type="number" placeholder="Week 40" #week40>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 41
                        <input class="form-control" [(ngModel)]="activeWeek41" type="number" placeholder="Week 41" #week41>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 42
                        <input class="form-control" [(ngModel)]="activeWeek42" type="number" placeholder="Week 42" #week42>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 43
                        <input class="form-control" [(ngModel)]="activeWeek43" type="number" placeholder="Week 43" #week43>
                            </label>
    </div>
    <div class="col-md-4">
        <label> Week 44
                        <input class="form-control" [(ngModel)]="activeWeek44" type="number" placeholder="Week 44" #week44>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 45
                        <input class="form-control" [(ngModel)]="activeWeek45" type="number" placeholder="Week 45" #week45>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 46
                        <input class="form-control" [(ngModel)]="activeWeek46" type="number" placeholder="Week 46" #week46>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 47
                        <input class="form-control" [(ngModel)]="activeWeek47" type="number" placeholder="Week 47" #week47>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 48
                        <input class="form-control" [(ngModel)]="activeWeek48" type="number" placeholder="Week 48" #week48>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 49
                        <input class="form-control" [(ngModel)]="activeWeek49" type="number" placeholder="Week 49" #week49>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 50
                        <input class="form-control" [(ngModel)]="activeWeek50" type="number" placeholder="Week 50" #week50>
                            </label>
    </div>
    <div class="col-md-4 form-group">
        <label> Week 51
                        <input class="form-control" [(ngModel)]="activeWeek51" type="number" placeholder="Week 51" #week51>
                            </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label> Week 52
                        <input class="form-control" [(ngModel)]="activeWeek52" type="number" placeholder="Week 52" #week52>
                            </label>
    </div>
</div>