<div class="enquiry-frame">
    <div class="row">
        <!--<h3>Select a Property to display its 52 Week Sales Plan</h3>
        <br>-->
        <div *ngIf="properties">
            <ba-card class="card-blue" baCardClass="with-scroll table-panel" title="Select a Property to display its available sales weeks">
                <div class="vertical-scroll">
                    <table class="table table-striped" #propertyTable>
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Size</th>
                                <th>View / Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let property of properties">
                                <td>{{property.property_name}}</td>
                                <td>{{property.property_size}}</td>
                                <td>
                                    <button (click)="selectProperty(property)" class="btn btn-primary">Display Timeshare Sales</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ba-card>
        </div>
    </div>

    <div class="row" *ngIf="appState == 'selected'">
        <ba-card>
            <div class="row">
                <h3 id="selectedPropertyName"></h3>
                <div *ngIf="showImages_thirteen" class="col-md-12"> <!-- Display Images for unit 13 and 26 -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_1.jpg" target="_blank"><img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_1.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_2.jpg" target="_blank">
                                        <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_2.jpg" alt="Second slide">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_4.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_4.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_3.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_3.jpg" alt="Fourth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_5.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_5.jpg" alt="Sixth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_6.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_6.jpg" alt="Seventh slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_7.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_7.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_8.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_8.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_9.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_9.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_10.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_10.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_11.jpg" alt="Second slide">
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit13_12.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit13_12.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                
                <div *ngIf="showImages_forteen" class="col-md-12"> <!-- Display Images for unit 14 and 24 -->
                    <div id="forteenIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#forteenIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#forteenIndicators" data-slide-to="1"></li>
                            <li data-target="#forteenIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_3.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_3.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_2.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_2.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_4.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_4.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_1.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_1.jpg" alt="Fourth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_5.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_5.jpg" alt="Sixth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_6.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_6.jpg" alt="Seventh slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_7.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_7.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_8.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_8.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit14_9.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit14_9.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#forteenIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#forteenIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div *ngIf="showImages_fifteen" class="col-md-12"> <!-- Display Images for unit 15 and 25 -->
                    <div id="fifteenIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#fifteenIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#fifteenIndicators" data-slide-to="1"></li>
                            <li data-target="#fifteenIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_1.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_1.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_2.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_2.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_4.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_4.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_3.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_3.jpg" alt="Fourth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_5.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_5.jpg" alt="Sixth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_6.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_6.jpg" alt="Seventh slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_7.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_7.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_8.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_8.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit15_9.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit15_9.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#fifteenIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#fifteenIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div *ngIf="showImages_sixteen" class="col-md-12"> <!-- Display Images for unit 13 and 26 -->
                    <div id="sixteenIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#sixteenIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#sixteenIndicators" data-slide-to="1"></li>
                            <li data-target="#sixteenIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_1.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_1.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_1.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_2.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_4.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_4.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_3.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_3.jpg" alt="Fourth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_5.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_5.jpg" alt="Sixth slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_6.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_6.jpg" alt="Seventh slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_7.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_7.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_8.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_8.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_9.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_9.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_10.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_10.jpg" alt="First slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_11.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_11.jpg" alt="Second slide"></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="../../../assets/img/app/units/unit16_12.jpg" target="_blank">
                                    <img class="d-block img-fluid" src="../../../assets/img/app/units/unit16_12.jpg" alt="Third slide"></a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#sixteenIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#sixteenIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </ba-card>
        <ba-card baCardClass="with-scroll">
            <h3>Available Timeshare Weeks </h3>
            <table #summaryTable class="table table-striped">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Season</th>
                        <th>Module</th>
                        <th>Price</th>
                        <th>Arrival Date</th>
                        <th>Departure Date</th>
                        <th>Availability</th>
                        <th>Select Week</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let week of weeksArray">
                        <th>{{week.week}}</th>
                        <td>{{week.season}}</td>
                        <td>{{week.module}}</td>
                        <td>R {{week.price}}</td>
                        <td>{{week.arrival_date}}</td>
                        <td>{{week.departure_date}}</td>
                        <td class="availColumn">
                            <!--<button class="btn btn-success">Availability: {{week.availability}}</button>-->
                            <button type="" id="availButton" class="btn btn-success" data-id="{{week.week}}" data-toggle="modal" data-target="#myModal">{{week.availability}}</button>
                        </td>
                        <td>week {{week.week}} <input type="checkbox" value="{{week.week}}" (click)="addWeek();" name="selectWeek"
                                id="selectWeek"></td>
                    </tr>
                </tbody>
            </table>
            <div class="container enquiry-form">
                <br>
                <h3>Enquiry Form</h3>
                <form (submit)="sendMail(name.value, surname.value, email.value, selectedweeks.value, week.value, phonenumber.value, message.value)"
                    id="enquiryform">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Name
                        <input class="form-control shadow-b" name="name" type="text" placeholder="First Name" #name>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label> Surname
                        <input class="form-control shadow-b" name="surname"e type="text" placeholder="Last Name" #surname>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label> Email
                        <input class="form-control shadow-b" name="email" type="email" type="email" required placeholder="email" #email>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Selected Weeks: 
                        <input class="form-control" type="text" style="color:black" name="selectedweeks" placeholder="week" #selectedweeks id="selectedweeks" readonly>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label> Extra week your'e Interested in
                        <input class="form-control" type="text" name="week" placeholder="week" #week>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>Contact Number
                        <input class="form-control shadow-b" name="phonenumber" type="number" placeholder="cell" #phonenumber>
                    </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="textarea01" style="color:black;">Message</label>
                                <textarea placeholder="extra info" name="message" maxlength="100" class="form-control shadow-b" #message></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary btn-lg" value="Contact Us">
                            <br>
                            <br>
                            <h5>You may also email us personally at info@saintsview.co.za</h5>
                        </div>
                    </div>
                </form>
            </div>
        </ba-card>
    </div>
</div>