<div class="modal fade" id="ownerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Owner Information</h3>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <label for=""> Owner First Name : 
                        <input class="form-control" placeholder="Owner Name" type="text" name="OwnerFirstName" value="" #ownerFirstName>
                    </label>
                    <label for=""> Owner Last Name : 
                        <input class="form-control" placeholder="Owner Surname" type="text" name="OwnerLastName" value="" #ownerLastName>
                    </label>
                    <label> Phone Number : 
                        <input class="form-control" type="number" name="PhoneNumber" placeholder="Phone Number" #phoneNumber>
                    </label>
                    <br>
                    <label> Email : 
                        <input class="form-control" type="email" name="Email" placeholder="Email" #email>
                    </label>
                    <br>
                    <label> Sold Price :  
                        <input class="form-control" type="number" name="SoldPrice" placeholder="Sold Price" #soldPrice>
                    </label>
                    <br>
                    <input type="submit" class="btn btn-primary center-block">
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>