<div class="row">
    <h3>Select a Property to display its 52 Week Sales Plan</h3>
    <br>
    <div *ngIf="properties">
        <ba-card baCardClass="with-scroll table-panel" title="Properties">
            <div class="vertical-scroll">
                <table class="table table-striped" #propertyTable>
                    <thead>
                        <tr>
                            <th>Property Name</th>
                            <th>Weeks Sold</th>
                            <th>Weeks Available</th>
                            <th>View / Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let property of properties">
                            <td>{{property.property_name}}</td>
                            <td>Possible Feature</td>
                            <td>Possible Feature</td>
                            <td>
                                <button (click)="selectProperty(property)" class="btn btn-primary">Display Timeshare Sales</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
</div>

<!--Loan Calculator-->
<div class="container">
    <ba-card>
        <h3>Admin Loan Calculator</h3>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label> Price ( ZAR )
                        <input class="form-control" name="amount" type="number" placeholder="price" id="price" #price>
                            </label>
            </div>
            <div class="col-md-3">
                <label> Deposit Percentage 20% +
                        <input class="form-control" value="20" name="amount" type="number" placeholder="amount" id="depositPercentage" #depositPercentage>
                            </label>
            </div>
            <div class="col-md-3">
                <label> Deposit Amount
                        <input class="form-control" value="" name="amount" type="number" placeholder="amount" id="depositValue" #depositValue>
                            </label>
            </div>
            <div class="col-md-3">
                <label> Interest Rate %
                        <input class="form-control" style="color: white" name="rate" maxlength="2" type="text" value="18" placeholder="Last Name" id="interestRate" #interestRate>
                            </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label> Period ( Months )
                        <input class="form-control" value="60" style="color: white" name="period" type="email" type="number" placeholder="Number of months" id="period" #period>
                            </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-lg btn-primary" (click)="updateRepayment(price.value, depositPercentage.value, depositValue.value, interestRate.value, period.value )">Calculate</button>
            </div>
            <div class="col-md-3">
                <label> Loan Amount ( ZAR )
                        <input class="form-control" style="color: white" readonly name="amount" type="number" placeholder="amount" id="loanAmount" #loanAmount>
                            </label>
            </div>
            <div class="col-md-3">
                <label> Monthly Repayment ( ZAR )
                        <input class="form-control" name="repayment" readonly type="text" style="color: white" placeholder="Set Loan Amount and Calculate" id="repayAmount" #repayAmount>
                            </label>
            </div>
        </div>
        <h5>Info: If a Deposit Amount is supplied, the deposit percentage will no longer effect the calculation.</h5>
    </ba-card>
</div>

<div class="row" *ngIf="appState == 'selected'">
    <ba-card title="Timeshare 52 Week Plan" baCardClass="with-scroll">
        <h3 id="selectedPropertyName"></h3>
        <div class="col-md-12" style="padding: 5px;">
            <button class="btn btn-primary" id="exportExcel" (click)="tableToExcel('summaryTable')">Excel</button>
            <button class="btn btn-error" id="print" (click)=Print()>Print</button>
        </div>
        <table #summaryTable id="summaryTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Season</th>
                    <th>Module</th>
                    <th>Price</th>
                    <th>Arrival Date</th>
                    <th>Departure Date</th>
                    <th>Availability</th>
                    <th>Owner First Name</th>
                    <th>Owner Last Name</th>
                    <th>Payment Type</th>
                    <th>Sold Price</th>
                    <th>Contact Number</th>
                    <th>Supporting Docs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of weeksArray">
                    <th>{{week.week}}</th>
                    <td>{{week.season}}</td>
                    <td>{{week.module}}</td>
                    <td>{{week.price}}</td>
                    <td>{{week.a_date}}</td>
                    <td>{{week.d_date}}</td>
                    <td class="availColumn">
                      <button type="" id="availButton" class="btn btn-success" data-id="{{week.week}}" data-toggle="modal" data-target="#myModal">{{week.availability}}</button>
                    </td>
                    <td>{{week.fname}}</td>
                    <td>{{week.sname}}</td>
                    <td>{{week.payment_type}}</td>
                    <td>{{week.sold_price}}</td>
                    <td>{{week.tel_no}}</td>
                    <td><button type="" class="btn btn-primary" data-toggle="modal" data-id="{{week.week}}" data-target="#supportingDocs">Supporting Documents</button></td>
                </tr>
            </tbody>
        </table>
    </ba-card>
</div>
<availabilityModal></availabilityModal>
<ownerModal></ownerModal>